			*{
				margin: 0;
				padding: 0;
			}
			.button{
				width: 50;
				height: 50;
				font-size: 25;
				margin: 2;
				cursor: pointer;
				border: none;
				background: #607d8b;
				color: #FFFFFF;
			}
			.textview{
				width: 217;
				margin: 5;
				font-size: 25;
				padding: 5;
				border: none;
				color: #607d8b;
			}
			.main{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
			body{
				background: linear-gradient(to right, red, blue);
			}